@import url("https://fonts.googleapis.com/css2?family=Cantata+One:wght@400&display=swap");

:root {
  interpolate-size: allow-keywords;
  /* fonts */
  --font-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-special: Cantata One;

  /* Color variables */
  --clr-bgk: hsl(0, 0%, 98%);
  --clr-bgk-50: hsla(0, 0%, 98%, 0.5);
  --clr-bgk-projects: hsl(0, 0%, 90%);
  --clr-heading-text: hsl(0, 0%, 20%);
  --clr-base-text: hsl(0, 0%, 35%);
  --clr-bgk-base-btn: hsl(163, 40%, 95%);
  --clr-bgk-hover-btn: hsl(19, 37%, 60%);
  --clr-borders: hsl(163, 40%, 80%);

  /* padding */
  --p-2: 0.5rem;
  --p-4: 1rem;
  --p-6: 1.5rem;
  --p-8: 2rem;

  /* margin */
  --m-2: 0.5rem;
  --m-4: 1rem;
  --m-6: 1.5rem;
  --m-8: 2rem;

  /* Component sizes */
  --body-w: min(100%, 90rem);
  --header-h: min(100%, 70px);
  --aside-w: min(100%, 120px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-bgk: hsl(174, 71%, 5%);
    --clr-bgk-projects: hsl(163, 40%, 10%);
    --clr-bgk-50: hsla(174, 71%, 5%, 0.5);
    --clr-heading-text: hsl(0, 0%, 100%);
    --clr-base-text: hsl(0, 0%, 80%);
    --clr-bgk-base-btn: hsl(163, 40%, 10%);
    --clr-bgk-hover-btn: hsl(19, 37%, 60%);
    --clr-borders: hsl(163, 40%, 20%);
  }
}
@view-transition {
  navigation: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  --_header-padding: var(--p-2);
  --_aside-padding: var(--p-6);
  --_width: calc(var(--aside-w) + var(--_aside-padding));
  --_height: calc(var(--header-h) + var(--_header-padding));

  position: relative;
  font-family: var(--font-base);
  line-height: 1.5;

  background-color: var(--clr-bgk);
  color: var(--clr-base-text);

  width: var(--body-w);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  text-wrap: balance;
  font-family: var(--font-special);
  color: var(--clr-heading-text);
}

p {
  text-wrap: pretty;
  color: var(--clr-base-text);
}

button {
  cursor: pointer;
  color: inherit;
  border: transparent;
}
img {
  max-width: 100%;
  display: block;
}

.header,
.aside {
  position: fixed;
  display: flex;
  background-color: var(--clr-bgk-50);
  backdrop-filter: blur(10px);
}

.header {
  z-index: 9999;
  width: 100%;
  height: var(--_height);
  padding: var(--_header-padding);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-borders);

  & h1 {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    font-weight: 400;
  }
}

#email-form-toggle {
  padding: var(--p-2);
  background-color: var(--clr-bgk-base-btn);

  &:hover {
    background-color: var(--clr-bgk-hover-btn);
    color: var(--clr-bgk);
  }
}

#menu-toggle {
  display: none;
  width: var(--p-8);
  height: var(--p-8);
  place-items: center;
  background-color: var(--clr-bgk-base-btn);

  & svg {
    color: var(--clr-base-text);
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: var(--clr-bgk-hover-btn);
    color: var(--clr-bgk);
  }
}

.aside {
  width: var(--_width);
  padding: var(--_aside-padding);
  flex-direction: column;
  border-right: 1px solid var(--clr-borders);
  top: var(--_height);
  bottom: 0;
}

.header__ul,
.aside__ul {
  display: flex;

  & a {
    display: block;
    padding: var(--p-2);
    font-style: italic;
  }
  & a:hover {
    text-decoration: underline;
    color: var(--clr-heading-text);
  }
}

.aside__ul {
  flex-direction: column;
  & li {
    font-family: var(--font-special);
  }
}

.main {
  padding-top: var(--_height);
  padding-left: calc(var(--_width) * 1.2);
  padding-right: var(--p-6);
  padding-bottom: var(--p-6);
}

@media (width <= 36.25rem) {
  .header {
    & h1 {
      display: none;
    }
  }

  .aside {
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;

    &[data-open="true"] {
      transform: translateX(0);
    }
  }

  .main {
    padding-left: var(--p-4);
  }

  #menu-toggle {
    display: block;
  }
}

.main__section {
  margin-block: var(--m-4);
  width: min(100%, 65ch);

  & h2,
  & p {
    /* margin-left: var(--m-2); */
    margin-bottom: var(--m-2);
  }
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: var(--p-2);
  display: grid;
  place-items: center;
  font-size: 0.8rem;
  border-top: 1px solid var(--clr-borders);
  background-color: var(--clr-bgk);
  color: hsl(0, 0%, 70%);
}

/* About page */

.about__section__article {
  margin-bottom: var(--m-8);

  & h3 {
    font-size: 1.2rem;
    margin-left: var(--m-2);
  }

  & p {
    margin-block: var(--m-4);
  }

  & a {
    color: var(--clr-heading-text);
    text-decoration: underline;
  }

  & blockquote {
    font-style: italic;
    color: var(--clr-base-text);
    border-left: 2px solid var(--clr-heading-text);
    padding-left: var(--p-4);
    margin-left: var(--m-2);
  }
}

/* Posts page */
.post__section__ul {
  margin-block: var(--m-6);
  display: flex;
  flex-direction: column;
}

.post__section__li a {
  width: 100%;
  display: flex;

  align-items: center;
  flex-wrap: nowrap;

  padding: var(--p-2);
  font-size: clamp(0.8rem, 1.5vw, 1rem);

  & .post__section__li-title {
    color: var(--clr-heading-text);
    font-weight: 600;
  }

  &:hover {
    background-color: var(--clr-bgk-hover-btn);
    color: var(--clr-bgk);

    & .post__section__li-title {
      color: var(--clr-bgk);
    }
  }

  & .post__section__li-line {
    flex: auto;
    position: relative;
    height: 1px;
    background-color: var(--clr-borders);
    margin-inline: var(--m-4);
  }
}

/* Projects page */
.projects__container {
  display: grid;
  margin-block: var(--m-6);
  margin-bottom: 15vh;
}

.projects__container article {
  margin-block: var(--m-6);

  & p {
    margin-block: var(--m-4);
  }
  & ul {
    display: flex;
    gap: var(--m-2);
  }
  & li {
    background-color: var(--clr-borders);
    padding: calc(var(--p-2) / 2.5) var(--p-4);
  }
}
